In [1]:
import pandas as pd
import numpy as np

In [7]:
path = "/Users/ASUS/Downloads/epl-goalScorer(20-21).csv"
df = pd.read_csv(path)

In [8]:
df.head()

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796

In [9]:
print(df.dtypes)

Unnamed: 0        int64
id                int64
player_name      object
games             int64
time              int64
goals             int64
xG              float64
assists           int64
xA              float64
shots             int64
key_passes        int64
yellow_cards      int64
red_cards         int64
position         object
team_title       object
npg               int64
npxG            float64
xGChain         float64
xGBuildup       float64
dtype: object

In [10]:
df_noid=df.iloc[:,2:]
df_noid

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,Gaetano Berardi,2,113,0,0.074761,0,0.000000,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,Anthony Elanga,1,67,0,0.000000,0,0.000000,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,Femi Seriki,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,Tyrese Francois,1,13,0,0.000000,0,0.000000,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

In [11]:
df_noid.describe

<bound method NDFrame.describe of                 player_name  games  time  goals         xG  assists  \
0                Harry Kane     35  3097     23  22.174859       14
1             Mohamed Salah     37  3085     22  20.250847        5
2           Bruno Fernandes     37  3117     18  16.019454       12
3             Son Heung-Min     37  3139     17  11.023287       10
4           Patrick Bamford     38  3085     17  18.401863        7
..                      ...    ...   ...    ...        ...      ...
517  Jaden Philogene-Bidace      1     1      0   0.000000        0
518         Gaetano Berardi      2   113      0   0.074761        0
519          Anthony Elanga      1    67      0   0.000000        0
520             Femi Seriki      1     1      0   0.000000        0
521         Tyrese Francois      1    13      0   0.000000        0

            xA  shots  key_passes  yellow_cards  red_cards position  \
0     7.577094    138          49             1          0        F
1     6.528526    126          55             0          0    F M S
2    11.474996    121          95             6          0      M S
3     9.512992     68          75             0          0    F M S
4     3.782247    107          30             3          0      F S
..         ...    ...         ...           ...        ...      ...
517   0.000000      0           0             0          0        S
518   0.000000      1           0             0          0      D S
519   0.000000      0           0             0          0        M
520   0.000000      0           0             0          0        S
521   0.000000      0           0             0          0        S

            team_title  npg       npxG    xGChain  xGBuildup
0            Tottenham   19  19.130183  24.995648   4.451257
1            Liverpool   16  15.683834  28.968234   9.800236
2    Manchester United    9   8.407840  26.911412  11.932285
3            Tottenham   16  10.262118  20.671916   6.608751
4                Leeds   15  16.879525  23.394953   4.131796
..                 ...  ...        ...        ...        ...
517        Aston Villa    0   0.000000   0.056044   0.056044
518              Leeds    0   0.074761   0.231278   0.231278
519  Manchester United    0   0.000000   0.000000   0.000000
520   Sheffield United    0   0.000000   0.000000   0.000000
521             Fulham    0   0.000000   0.000000   0.000000

[522 rows x 17 columns]>

In [13]:
top_10_goal_scorers = df[df['goals'] > 0].sort_values('goals', ascending=False).head(10)
print(top_10_goal_scorers[['player_name', 'goals']])

             player_name  goals
0             Harry Kane     23
1          Mohamed Salah     22
2        Bruno Fernandes     18
4        Patrick Bamford     17
3          Son Heung-Min     17
5  Dominic Calvert-Lewin     16
6            Jamie Vardy     15
7          Ollie Watkins     14
8         Ilkay Gündogan     13
9    Alexandre Lacazette     13

In [14]:
top_10_longest_playing_players = df[df['time'] > 0].sort_values('time', ascending=False).head(10)
print(top_10_longest_playing_players[['player_name', 'time']])

               player_name  time
296            Hugo Lloris  3420
378      Emiliano Martinez  3420
311      Kasper Schmeichel  3420
110  Pierre-Emile Højbjerg  3420
40           Stuart Dallas  3412
327           Matt Targett  3407
480            Luke Ayling  3400
204       Andrew Robertson  3391
55         Youri Tielemans  3359
7            Ollie Watkins  3330

In [15]:
top_10_assists_leaders = df[df['assists'] > 0].sort_values('assists', ascending=False).head(10)
print(top_10_assists_leaders[['player_name', 'assists']])

         player_name  assists
0         Harry Kane       14
2    Bruno Fernandes       12
58   Kevin De Bruyne       11
3      Son Heung-Min       10
51     Jack Grealish       10
15   Marcus Rashford        9
6        Jamie Vardy        9
57          Raphinha        9
41     Jack Harrison        8
281  Aaron Cresswell        8

In [17]:
top_4_mancity_goal_scorers = df[(df['team_title'] == 'Manchester City') & (df['goals'] > 0)].sort_values('goals', ascending=False).head(4)
print(top_4_mancity_goal_scorers[['player_name', 'goals']])

        player_name  goals
8    Ilkay Gündogan     13
22  Raheem Sterling     10
28     Riyad Mahrez      9
35    Gabriel Jesus      8

In [18]:
team_goals = df.groupby('team_title')['goals'].sum()
most_goal_scorers_team = team_goals.idxmax()
print(most_goal_scorers_team)

Manchester City

In [19]:
top_assist = df[df['assists'] > 0].sort_values('assists', ascending=False).head(1)
yellow_cards = top_assist['yellow_cards'].values[0]
red_cards = top_assist['red_cards'].values[0]
print(f"Yellow cards: {yellow_cards}")
print(f"Red cards: {red_cards}")

Yellow cards: 1
Red cards: 0

In [20]:
top_player = df[(df['assists'] > 0) & (df['goals'] > 0)].sort_values(['assists', 'goals'], ascending=False).head(1)
print(top_player[['player_name', 'team_title', 'assists', 'goals']])

  player_name team_title  assists  goals
0  Harry Kane  Tottenham       14     23

In [21]:
team_goals = df.groupby('team_title')['goals'].sum()
top_5_goal_scoring_teams = team_goals.nlargest(5)
print(top_5_goal_scoring_teams)

team_title
Manchester City      77
Manchester United    68
Tottenham            66
Leicester            64
Liverpool            64
Name: goals, dtype: int64

In [22]:
no_cards = df[(df['yellow_cards'] == 0) & (df['red_cards'] == 0)]
no_cards_goals = no_cards.sort_values('goals', ascending=False)
print(no_cards_goals[['player_name', 'goals']])

         player_name  goals
1      Mohamed Salah     22
3      Son Heung-Min     17
13        Chris Wood     12
28      Riyad Mahrez      9
29     Harvey Barnes      9
..               ...    ...
353      Lys Mousset      0
343    Islam Slimani      0
341       Moise Kean      0
340          Emerson      0
521  Tyrese Francois      0

[164 rows x 2 columns]